.css_secad__label { }
.css_secad__line { }
.css_secad__obj { }
.css_consecutivo__label { }
.css_consecutivo__line { }
.css_consecutivo__obj { }
.css_quien_reporta__label { }
.css_quien_reporta__line { }
.css_quien_reporta__obj { }
.css_direccion_servicio__label { }
.css_direccion_servicio__line { }
.css_direccion_servicio__obj { }
.css_id_barrio__label { }
.css_id_barrio__line {text-align:left;}
.css_id_barrio__obj {text-align:left;}
.css_tipo_servicio__label { }
.css_tipo_servicio__line { }
.css_tipo_servicio__obj { }
.css_numero_contacto__label { }
.css_numero_contacto__line { }
.css_numero_contacto__obj { }
.css_nombre_apellido__label { }
.css_nombre_apellido__line { }
.css_nombre_apellido__obj { }
.css_tipo_documento__label { }
.css_tipo_documento__line { }
.css_tipo_documento__obj { }
.css_documento_identidad__label { }
.css_documento_identidad__line { }
.css_documento_identidad__obj { }
.css_edad__label { }
.css_edad__line {text-align:left;}
.css_edad__obj {text-align:left;}
.css_genero__label { }
.css_genero__line { }
.css_genero__obj { }
.css_circunstancias_emergencia__label { }
.css_circunstancias_emergencia__line { }
.css_circunstancias_emergencia__obj { }
.css_id_seguridad_social__label { }
.css_id_seguridad_social__line {text-align:left;}
.css_id_seguridad_social__obj {text-align:left;}
.css_id_eps__label { }
.css_id_eps__line {text-align:left;}
.css_id_eps__obj {text-align:left;}
.css_hora_ingreso_llamada__label { }
.css_hora_ingreso_llamada__line { }
.css_hora_ingreso_llamada__obj { }
.css_hora_notifica_movil__label { }
.css_hora_notifica_movil__line { }
.css_hora_notifica_movil__obj { }
.css_hora_llegada_sitio__label { }
.css_hora_llegada_sitio__line { }
.css_hora_llegada_sitio__obj { }
.css_hora_llegada_ips__label { }
.css_hora_llegada_ips__line { }
.css_hora_llegada_ips__obj { }
.css_hora_salida_ips__label { }
.css_hora_salida_ips__line { }
.css_hora_salida_ips__obj { }
.css_id_movil__label { }
.css_id_movil__line {text-align:left;}
.css_id_movil__obj {text-align:left;}
.css_id_ips__label { }
.css_id_ips__line {text-align:left;}
.css_id_ips__obj {text-align:left;}
.css_tipo_caso__label { }
.css_tipo_caso__line { }
.css_tipo_caso__obj { }
.css_id_medico__label { }
.css_id_medico__line {text-align:left;}
.css_id_medico__obj {text-align:left;}
.css_id_tipo_evento__label { }
.css_id_tipo_evento__line {text-align:left;}
.css_id_tipo_evento__obj {text-align:left;}
.css_zona__label { }
.css_zona__line { }
.css_zona__obj { }
.css_discapacidad__label { }
.css_discapacidad__line { }
.css_discapacidad__obj { }
