.css_id_sector_det_label, .css_id_sector_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_sector_det_line, .css_id_sector_det_line:hover {height:0px;text-align: right;}
.css_sector_det_label, .css_sector_det_label:hover {text-align: right;vertical-align: middle;}
.css_sector_det_line, .css_sector_det_line:hover {height:0px;text-align: right;}
