.css_id_ips_det_label, .css_id_ips_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_ips_det_line, .css_id_ips_det_line:hover {height:0px;text-align: right;}
.css_nombre_ips_det_label, .css_nombre_ips_det_label:hover {text-align: right;vertical-align: middle;}
.css_nombre_ips_det_line, .css_nombre_ips_det_line:hover {height:0px;text-align: right;}
