.css_id_barrio_label { }
.css_id_barrio_line {text-align:left;}
.css_id_barrio_obj {text-align:left;}
.css_barrio_label { }
.css_barrio_line { }
.css_barrio_obj { }
.css_id_sector_label { }
.css_id_sector_line {text-align:left;}
.css_id_sector_obj {text-align:left;}
