.css_id_movil_label, .css_id_movil_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_movil_grid_line, .css_id_movil_grid_line:hover {vertical-align: top;text-align: right;}
.css_placa_label, .css_placa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_placa_grid_line, .css_placa_grid_line:hover {vertical-align: top;text-align: left;}
