.css_id_movil_det_label, .css_id_movil_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_movil_det_line, .css_id_movil_det_line:hover {height:0px;text-align: left;}
.css_placa_det_label, .css_placa_det_label:hover {text-align: left;vertical-align: middle;}
.css_placa_det_line, .css_placa_det_line:hover {height:0px;text-align: left;}
