.css_id_servicios_ips_label { }
.css_id_servicios_ips_line {text-align:left;}
.css_id_servicios_ips_obj {text-align:left;}
.css_id_ips_label { }
.css_id_ips_line {text-align:left;}
.css_id_ips_obj {text-align:left;}
.css_id_servicios_label { }
.css_id_servicios_line {text-align:left;}
.css_id_servicios_obj {text-align:left;}
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
