.css_ips_nombre_ips_label, .css_ips_nombre_ips_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ips_nombre_ips_grid_line, .css_ips_nombre_ips_grid_line:hover {vertical-align: top;text-align: right;}
.css_servici_servicios_label, .css_servici_servicios_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_servici_servicios_grid_line, .css_servici_servicios_grid_line:hover {vertical-align: top;text-align: right;}
.css_serv_ips_estado_label, .css_serv_ips_estado_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_serv_ips_estado_grid_line, .css_serv_ips_estado_grid_line:hover {vertical-align: top;text-align: right;}
