.css_secad_label { }
.css_secad_line { }
.css_secad_obj { }
.css_consecutivo_label { }
.css_consecutivo_line { }
.css_consecutivo_obj { }
.css_quien_reporta_label { }
.css_quien_reporta_line { }
.css_quien_reporta_obj { }
.css_direccion_servicio_label { }
.css_direccion_servicio_line { }
.css_direccion_servicio_obj { }
.css_id_barrio_label { }
.css_id_barrio_line {text-align:left;}
.css_id_barrio_obj {text-align:left;}
.css_tipo_servicio_label { }
.css_tipo_servicio_line { }
.css_tipo_servicio_obj { }
.css_numero_contacto_label { }
.css_numero_contacto_line { }
.css_numero_contacto_obj { }
.css_nombre_apellido_label { }
.css_nombre_apellido_line { }
.css_nombre_apellido_obj { }
.css_tipo_documento_label { }
.css_tipo_documento_line { }
.css_tipo_documento_obj { }
.css_documento_identidad_label { }
.css_documento_identidad_line { }
.css_documento_identidad_obj { }
.css_edad_label { }
.css_edad_line {text-align:left;}
.css_edad_obj {text-align:left;}
.css_genero_label { }
.css_genero_line { }
.css_genero_obj { }
.css_circunstancias_emergencia_label { }
.css_circunstancias_emergencia_line { }
.css_circunstancias_emergencia_obj { }
.css_id_seguridad_social_label { }
.css_id_seguridad_social_line {text-align:left;}
.css_id_seguridad_social_obj {text-align:left;}
.css_id_eps_label { }
.css_id_eps_line {text-align:left;}
.css_id_eps_obj {text-align:left;}
.css_hora_ingreso_llamada_label { }
.css_hora_ingreso_llamada_line { }
.css_hora_ingreso_llamada_obj { }
.css_hora_notifica_movil_label { }
.css_hora_notifica_movil_line { }
.css_hora_notifica_movil_obj { }
.css_hora_llegada_sitio_label { }
.css_hora_llegada_sitio_line { }
.css_hora_llegada_sitio_obj { }
.css_hora_llegada_ips_label { }
.css_hora_llegada_ips_line { }
.css_hora_llegada_ips_obj { }
.css_hora_salida_ips_label { }
.css_hora_salida_ips_line { }
.css_hora_salida_ips_obj { }
.css_id_movil_label { }
.css_id_movil_line {text-align:left;}
.css_id_movil_obj {text-align:left;}
.css_id_ips_label { }
.css_id_ips_line {text-align:left;}
.css_id_ips_obj {text-align:left;}
.css_tipo_caso_label { }
.css_tipo_caso_line { }
.css_tipo_caso_obj { }
.css_id_medico_label { }
.css_id_medico_line {text-align:left;}
.css_id_medico_obj {text-align:left;}
.css_id_tipo_evento_label { }
.css_id_tipo_evento_line {text-align:left;}
.css_id_tipo_evento_obj {text-align:left;}
.css_zona_label { }
.css_zona_line { }
.css_zona_obj { }
.css_discapacidad_label { }
.css_discapacidad_line { }
.css_discapacidad_obj { }
