.css_disponi_id_disponibilidad_det_label, .css_disponi_id_disponibilidad_det_label:hover {text-align: left;vertical-align: middle;}
.css_disponi_id_disponibilidad_det_line, .css_disponi_id_disponibilidad_det_line:hover {height:0px;text-align: left;}
.css_disponi_id_ips_det_label, .css_disponi_id_ips_det_label:hover {text-align: left;vertical-align: middle;}
.css_disponi_id_ips_det_line, .css_disponi_id_ips_det_line:hover {height:0px;text-align: left;}
.css_disponi_camas_det_label, .css_disponi_camas_det_label:hover {text-align: left;vertical-align: middle;}
.css_disponi_camas_det_line, .css_disponi_camas_det_line:hover {height:0px;text-align: left;}
.css_disponi_login_det_label, .css_disponi_login_det_label:hover {text-align: left;vertical-align: middle;}
.css_disponi_login_det_line, .css_disponi_login_det_line:hover {height:0px;text-align: left;}
.css_disponi_ip_det_label, .css_disponi_ip_det_label:hover {text-align: left;vertical-align: middle;}
.css_disponi_ip_det_line, .css_disponi_ip_det_line:hover {height:0px;text-align: left;}
.css_disponi_fecha_det_label, .css_disponi_fecha_det_label:hover {text-align: left;vertical-align: middle;}
.css_disponi_fecha_det_line, .css_disponi_fecha_det_line:hover {height:0px;text-align: left;}
.css_entidad_id_ips_det_label, .css_entidad_id_ips_det_label:hover {text-align: left;vertical-align: middle;}
.css_entidad_id_ips_det_line, .css_entidad_id_ips_det_line:hover {height:0px;text-align: left;}
.css_entidad_nombre_ips_det_label, .css_entidad_nombre_ips_det_label:hover {text-align: left;vertical-align: middle;}
.css_entidad_nombre_ips_det_line, .css_entidad_nombre_ips_det_line:hover {height:0px;text-align: left;}
