.css_id_observacion_det_label, .css_id_observacion_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_observacion_det_line, .css_id_observacion_det_line:hover {height:0px;text-align: right;}
.css_observa_det_label, .css_observa_det_label:hover {text-align: right;vertical-align: middle;}
.css_observa_det_line, .css_observa_det_line:hover {height:0px;text-align: right;}
.css_user_det_label, .css_user_det_label:hover {text-align: right;vertical-align: middle;}
.css_user_det_line, .css_user_det_line:hover {height:0px;text-align: right;}
.css_ip_det_label, .css_ip_det_label:hover {text-align: right;vertical-align: middle;}
.css_ip_det_line, .css_ip_det_line:hover {height:0px;text-align: right;}
.css_fecha_det_label, .css_fecha_det_label:hover {text-align: right;vertical-align: middle;}
.css_fecha_det_line, .css_fecha_det_line:hover {height:0px;text-align: right;}
.css_id_procedimiento_det_label, .css_id_procedimiento_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_procedimiento_det_line, .css_id_procedimiento_det_line:hover {height:0px;text-align: right;}
